<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tool="http://www.springframework.org/schema/tool"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="org.example" scope-resolver="org.example.custom.CustomScope">
        <context:include-filter type="regex" expression="org\.example\..*Service" />
<!--        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Component" />-->
    </context:component-scan>


<!--    <bean id="address" class="org.example.Address">-->
<!--        <constructor-arg value="10880 Malibu Point" />-->
<!--        <property name="street" value="10880 Malibu Point" />-->
<!--    </bean>-->

<!--    <bean id="theName" class="java.lang.String">-->
<!--        <constructor-arg value="Tony Stark" type="java.lang.String"/>-->
<!--        <qualifier>-->
<!--            <attribute key="name" value="theName"/>-->
<!--        </qualifier>-->
<!--    </bean>-->

<!--    <bean id="name" class="java.lang.String">-->
<!--        <constructor-arg value="Tony Stark 2" type="java.lang.String"/>-->

<!--    </bean>-->

<!--    &lt;!&ndash; making User List &ndash;&gt;-->
<!--    <bean id="user" class="org.example.User">-->
<!--        <property name="emails">-->
<!--            <list>-->
<!--                <value>tony@starkindustries.com</value>-->
<!--                <value>ironman@avengers.com</value>-->
<!--                <value>tony.stark@shield.com</value>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->



</beans>